.heading-group-h1 {
    max-width: 100%;
    color: #D3D3D3;
  }
  
  #filters select {
    width: 100%;
    margin: .2em 5%;
  }
  
  
    #filters select {
      width: 15em;
      margin: .2em .2em;
    }
  
    #filters li {
      width: 20em;
      display: inline;
    }
  